.btn-secondary:hover {
    color: #000;
    background-color: inherit;
}

.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:visited {
    background-color: rgb(35, 29, 49) !important;
}

.btn-primary:active,
.btn-primary:focus,
.btn-primary:visited {
    color: #000 !important;
    border-color: $danger;
    background-color: $danger !important;
}

.btn-default {
    border: none;
    background-color: inherit;
    &:hover {
        scale: 1.1;
    }
}

button:focus {
    background-color: inherit !important;
}
