.navbar-toggler {
    border: none;
}

.dropdown-item:active {
    background-color: $secondary;
}

.nav-link {
    border-radius: 4rem !important;
    font-size: 1.25rem;
    color: $secondary;

    &:hover {
        color: rgb(177, 133, 158);
    }

    &:active {
        color: $danger;
    }
}

// .nav-link.active,
// .nav-link:hover {
//     background-color: $secondary;
//     color: white !important;
// }
